<% content_for :title, "DreamDiary.online" %>
<%= @dupa %>
<div class="w-full">
  <% if !user_signed_in? %>
    <section class="text-gray-600 mb-4"><%= get_welcome_text %></section>
  <% end %>
  <% if !flash.empty? %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} w-auto inline-block" %>
    <% end %>
  <% end %>
  <%= get_header_info(@user) %>
  <% if @posts.count == 0 %>
    <%= "Nothing here yet." %>
  <% end %>
  <% @posts.each do |post| %>
    <section class="pb-4">
      <div class="border-b border-gray-300 pb-2 md:pb-6">
        <article>
          <h3 class="mb-2"><%= link_to post.title, post %></h3>
          <%= simple_format truncate(post.content, length: 250) { link_to " read more", post } %>
          <div class="tags mt-2">
            <% post.tags.each do |t| %>
              <%= active_link_to t.name, dreams_by_tag_posts_path(:tag_id => t.id), active: :exact %>
            <% end %>
          </div>
          <p class="mt-2"><%= get_author_and_time(post) %></p>
          <p><%= link_to get_comments_count(post), post_path(post, anchor: 'comments') %></p>
        </article>
        <div class="relative">
          <% if (user_signed_in? && current_user.id == post.user_id) || current_user.try(:admin?) %>
            <div class="md:absolute flex justify-end mt-2 md:-mt-4 right-0 top-0 flex">
              <% if post.private %><span class="private text-xs mr-2 md:mr-0">Private</span><% end %>
              <%= link_to "Edit", edit_post_path(post), method: :get, :class => "btn md:ml-2 mr-2 inline-block" %>
              <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn del inline-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <%= paginate @posts %>
</div>
