<% content_for :title, @post.title + " - DreamDiary.online" %>
<div class="w-full">
  <% if !flash.empty? %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} mb-4 w-auto inline-block" %>
    <% end %>
  <% end %>
  <section>
    <article>
      <h3 class="mb-2"><%= @post.title %></h3>
      <%= simple_format @post.content %>
      <div id="tags" class="mt-2">
        <% @post.tags.each do |t| %>
          <%= active_link_to t.name, dreams_by_tag_posts_path(:tag_id => t.id), active: :exact %>
        <% end %>
      </div>
      <div class="flex flex-wrap">
        <div class="mt-2"><%= get_author_and_time(@post) %></div>
        <% if (user_signed_in? && current_user.id == @post.user_id) || current_user.try(:admin?)%>
          <div class="pt-4 flex-auto text-right">
            <% if @post.private %><span class="private mr-2">Private</span><% end %>
            <%= link_to "Edit", edit_post_path(@post), method: :get, :class => "btn mr-2" %>
            <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn del" %>
          </div>
        </div>
      <% end %>
    </article>
  </section>
  <section class="mt-8" id="comments">
    <p class="border border-t-1 border-b-0 border-l-0 border-r-0 pt-2"><%= get_comments_count(@post) %></p>
    <%= render @post.comments %>
    <% if user_signed_in? %>
      <h4 class="text-xl mb-2">Leave a comment</h4>
      <%= render 'comments/form' %>
    <% else %>
      <p class="mt-2">You must <%= active_link_to 'Log in', new_user_session_path %> to add a comment. </p>
    <% end %>
  </section>
</div>
